input{
    width: 400px;
    border: none;
    background: #f7f1f1;
    padding: 0 1.5em;
    font-size: 30px;
    height: 3rem;
    outline: inherit;
    transition: 0.5s;
}
button{
    height: 3rem;
    padding: 0 1.3rem;
    border: none;
    background: #FF6666;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid rgba(255,255,255,.3);
    margin-left: 5px;
    cursor: pointer;
    margin-top: 28px;
    border-radius: 5px;
}
button:hover{
    background: #fe4b4b;
}
label{
    min-width: 100%;
    font-size: 1.3rem;
    color: white;
    margin-bottom: 15px;
}
.input-div{
    margin-top: 15px;
    margin-bottom: 15px;

}
.item-input{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

form{
    max-width: 800px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.todo-title{
    color: white;
    font-size: 40px;
}

@media (max-width: 770px){
    input{
        width: 350px;
    }
}

@media (max-width: 630px){
    form{
        flex-direction: column;
    }
    .item-input{
       flex-direction: column;
    }
    .input-div{
        margin-top: 15px;
        margin-bottom: 2px;
    }
}

@media (max-width: 500px){
    input{
        width: 200px;
    }
}

@media (max-width: 350px){
    input{
        width: 150px;
    }
}