<h1 class="todo-title">TODO</h1>





<div class="item-input">
  <form [formGroup]="todoTasks">
    <div class="input-div">
      <label for="todoList"> Add to the todo list </label>
      <div class="input-div">
        <input 
            maxlength="20"
            formControlName="todoList"
          [ngClass]="{
            error:
            todoList.errors &&
           (todoList.touched ||
            todoList.dirty)
          }"
          #inputEl
          type="text"
        />

      </div>
    </div>
    <button (click)="onNewItem(inputEl)">Add item</button>
  </form>
</div>
<span class="parent-span" 
        *ngIf="todoList.errors && 
            (todoList.touched ||
            todoList.dirty)">
    <span *ngIf="todoList.errors" class="span-error">ToDo List is Required</span>
</span>
<!-- <span *ngIf="todoList.errors.maxlength">max 10</span> -->